[submodule "UnitTest"]
	path = UnitTest
	url = https://github.com/aorandexiaohai/UnitTest.git
[submodule "XTUtils"]
	path = XTUtils
	url = https://github.com/aorandexiaohai/XTUtils.git
[submodule "ColorConsole"]
	path = ColorConsole
	url = https://github.com/aorandexiaohai/ColorConsole.git
